* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 微軟正黑體, Arial;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 24px;
}

.navbar {
  background-color: #3a3a3a;
}
.u-cf::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.navbar .logo {
  float: left;
  height: 24px;
  margin-top: 28px;
}

.navbar .logo img {
  height: 100%;
}

.menu {
  float: right;
}
.menu > li {
  float: left;
}

.menu > li > a {
  display: block;
  line-height: 24px;
  padding: 28px 16px;
  margin-right: 4px;
}

.menu > li > a.avtivity:after {
  width: 100%;
}
.menu > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 5px;
  background-color: #ff5e41;
  transition: all 0.3s;
}

.menu > li:hover > a:after {
  width: 100%;
}

.menu .dropdown > li > a {
  display: block;
  line-height: 24px;
  padding: 8px 24px;
  color: #fff;
  width: 200px;
  transition: all 0.2s;
}

.menu .dropdown {
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
  display: block;
  width: 0px;
  background-color: #3a3a3a;
  transition: all 0.9s;
}
.menu > li:hover > .dropdown {
  width: 200px;
  top: 100%;
}
.dropdown a:hover {
  background-color: #ff5e41;
}
