* {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #999;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.col-1-2,
.col-1-3,
.col-5-6,
.col-1-6,
.col-1-2 {
  float: left;
  border: 1px solid #000;
  padding: 0px 15px;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.33333%;
}

.col-1-2 .album-art {
  float: left;
  width: 50%;
}
.col-1-2 .album-art .element {
  height: 300px;
}
.col-5-6 {
  width: 83.3333%;
}
.col-1-6 {
  width: 16.6667%;
}

.whatsOn {
  background-color: #fff;
}
.element {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

.givePadding {
  padding-top: 150px;
  padding-bottom: 180px;
}

.main-bg {
  background: linear-gradient(50deg, #ff4169 0, #7c26f8 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar .element {
  height: 80px;
}

/*jumbotron*/
.jumbotron {
  border: 1px solid #000;
  padding-top: 100px;
  padding-bottom: 80px;
}
.jumbotron .element {
  height: 500px;
}
/*albums*/
.albums .element {
  height: 400px;
}
.phone {
  width: 358px;
  height: 730px;
  border: 5px solid #7c25f8;
  background-color: #fff;
  border-radius: 40px;
}

.phone1 {
  margin-top: 200px;
}
.phone-group {
  position: absolute;
}

/* device */
.device {
  background-color: #333236;
}
.device .element {
  height: 300px;
}
/*subscriotion*/
.subscriotion {
  padding-bottom: 0;
}
.subscriotion .element {
  height: 800px;
}

.phone {
  width: 358px;
  height: 730px;
  border: 5px solid #7c25f8;
  background-color: #fff;
  border-radius: 40px;
}

.phone1 {
  margin-top: 200px;
}
.pbone-group {
  position: absolute;
}

/* Footer */
.footer {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #000;
}
.footer .element {
  height: 300px;
}
.footer .row-small {
  margin-top: 100px;
}
.footer .row-small .element {
  height: 40px;
}
